version: '3.2'

services:
    consul:
        image: bhuisgen/alpine-consul
        ports:
            - "8500:8500"
        volumes:
            - /etc/localtime:/etc/localtime:ro
        environment:
            - CONSUL_OPTIONS=-server -bootstrap-expect 1 -client 0.0.0.0 -ui    # minimal server options

    mariadb:
        depends_on:
            - consul
        image: bhuisgen/alpine-mariadb
        ports:
            - "3306:3306"
        volumes:
            - /etc/localtime:/etc/localtime:ro
            #- /host/data:/var/lib/mysql                    # volume for data
        environment:
            - CONSUL_AGENT=consul                           # consul agent hostname/IP
            #- CONSUL_PORT=8500                             # consul agent port
            #- CONSUL_KEYPREFIX=path/prefix/                # consul key prefix path
            - CONSUL_SERVICENAME=mariadb                    # consul service name
            - CONSUL_SERVICETAGS=dev                        # consul service tag
            - CONSUL_SERVICEPORT=3306                       # consul service port
            - CONSUL_CHECKTYPE=tcp                          # consul health check type
            #- MARIADB_PROFILE=my-small                     # default configuration profile to use (my-small, my-medium ...)
            - MARIADB_ROOTPASSWORD=mariadb                  # root password
            #- MARIADB_ROOTHOSTMASK=172.30.0.%              # root user hostmask (optional)
            - MARIADB_DATABASE=mydb                         # create database (optional)
            - MARIADB_USERNAME=mariadb                      # grant user name (optional)
            - MARIADB_PASSWORD=mariadb                      # grant user password (optional)
            - MARIADB_HOSTMASK=172.%.%.%                    # grant user hostmask (optional)
            #- MARIADB_CONFIGSCRIPT=/root/mariadb/config.sh # custom configuration script
