version: '3.2'

services:
    consul:
        image: bhuisgen/alpine-consul
        ports:
            - "8500:8500"
        volumes:
            - /etc/localtime:/etc/localtime:ro
        environment:
            - CONSUL_OPTIONS=-server -bootstrap-expect 1 -client 0.0.0.0 -ui    # minimal server options

    dynamodb:
        depends_on:
            - consul
        image: bhuisgen/alpine-dynamodb
        ports:
            - "8000:8000"
        volumes:
            - /etc/localtime:/etc/localtime:ro
            #- /host/data:/var/lib/dynamodb     # volume for data
        environment:
            - CONSUL_AGENT=consul               # consul agent hostname/IP
            #- CONSUL_PORT=8500                 # consul agent port
            #- CONSUL_KEYPREFIX=path/prefix/    # consul key prefix path
            - CONSUL_SERVICENAME=dynamodb       # consul service name
            - CONSUL_SERVICETAGS=dev            # consul service tag
            - CONSUL_SERVICEPORT=8000           # consul service port
            - CONSUL_CHECKTYPE=tcp              # consul health check type
