version: '3.2'

services:
    consul:
        image: bhuisgen/alpine-consul
        ports:
            - "8500:8500"
        volumes:
            - /etc/localtime:/etc/localtime:ro
        environment:
            - CONSUL_OPTIONS=-server -bootstrap-expect 1 -client 0.0.0.0 -ui    # minimal server options

    strongswan:
        depends_on:
            - consul
        image: bhuisgen/alpine-strongswan
        cap_add:
            - SYS_MODULE
            - NET_ADMIN
            - NET_RAW
        network_mode: host
        volumes:
            - /etc/localtime:/etc/localtime:ro
            - /lib/modules:/lib/modules:ro
        ports:
            - "500:500/udp"
            - "4500:4500/udp"
        environment:
            - CONSUL_AGENT=consul                           # consul agent hostname/IP
            #- CONSUL_PORT=8500                             # consul agent port
            #- CONSUL_KEYPREFIX=path/prefix/                # consul key prefix path
            - STRONGSWAN_INTERFACE=eth0                     # VPN public interface
            - STRONGSWAN_LEFT=10.1.1.0.1                    # VPN left private IP interface to gateway
            - STRONGSWAN_LEFTSUBNET=10.1.0.0/16             # VPN left subnet
            - STRONGSWAN_LEFTCERT=vpn-01.pem                # VPN left certificate name
            - STRONGSWAN_LEFTKEY=vpn-01-priv.pem            # VPN left private key name
            - STRONGSWAN_LEFTID="CN=vpn-01"                 # VPN left certificate id
            - STRONGSWAN_RIGHT=81.82.83.84                  # VPN right public IP
            - STRONGSWAN_RIGHTSUBNET=10.2.0.0/16            # VPN right subnet
            - STRONGSWAN_RIGHTID="CN=vpn-02"                # VPN right certificate id
            - STRONGSWAN_AUTO=start                         # VPN startup
            #- STRONGSWANMONITOR=0                          # enable strongswan-monitor
            #- STRONGSWANMONITOR_CONFIGFILE=/etc/ipsec.conf # ipsec configuration file
            #- STRONGSWANMONITOR_STARTUP=60                 # startup delay before first check (seconds)
            #- STRONGSWANMONITOR_CHECK=60                   # check interval (seconds)
