version: '3.2'

services:
    consul:
        image: bhuisgen/alpine-consul
        ports:
            - "8500:8500"
        volumes:
            - /etc/localtime:/etc/localtime:ro
        environment:
            - CONSUL_OPTIONS=-server -bootstrap-expect 1 -client 0.0.0.0 -ui    # minimal server options

    jenkins:
        depends_on:
            - consul
        image: bhuisgen/alpine-jenkins
        ports:
            - "8080:8080"
        volumes:
            - /etc/localtime:/etc/localtime:ro
            #- /host/data:/home/jenkins         # volume for data
        environment:
            - CONSUL_AGENT=consul               # consul agent hostname/IP
            #- CONSUL_PORT=8500                 # consul agent port
            #- CONSUL_KEYPREFIX=path/prefix/    # consul key prefix path
            - CONSUL_SERVICENAME=jenkins        # consul service name
            - CONSUL_SERVICETAGS=dev            # consul service tag
            - CONSUL_SERVICEPORT=8080           # consul service port
            - CONSUL_CHECKTYPE=tcp              # consul health check type
